/home/lenovo/Рабочий стол/flask_project/bin/*
./include/
/home/lenovo/Рабочий стол/flask_project/lib/
/home/lenovo/Рабочий стол/flask_project/lib64/
/home/lenovo/Рабочий стол/flask_project/pyvenv.cfg
/.gitignore